<!DOCTYPE html>
<html>
	<head>
	  	<title>Fondation Pierre Lafue</title>
	  	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	  	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>

	<body>		
		{{{ body }}}
	</body>

</html>