<!DOCTYPE html>
<html>
	<head>
	  	<title>Fondation Pierre Lafue</title>
	  	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	  	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	  	<link href="/stylesheets/lightbox.css" rel="stylesheet" />
	  	<link rel="stylesheet" href="/stylesheets/justifiedGallery.min.css" />


	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	  	<script src="/js/angular-sanitize.js"></script>
	  	<script type="text/javascript" src="/js/scripts.js"></script>
	  	<script src="/js/lightbox.min.js"></script>
	  	<script src="/js/justifiedGallery.min.js"></script>
	</head>

	<body>	

		<nav id="navbar-menu">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Pierre et Yolande Lafue</a></li>
				<li><a href="/fondation">La Fondation<span class="sr-only">(current)</span></a></li>
				<li><a href="/foyeryolandelafue">Le foyer</a></li>
				<li><a href="#" data-toggle="modal" data-target="#donsModal">Dons</a></li>
				<li><a href="#" data-toggle="modal" data-target="#contactModal">Contacts</a></li>
			</ul>
		</nav>

		{{{ body }}}

		<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h2 class="modal-title" id="contactModalLabel">Contact</h2>
				</div>
					<div class="modal-body">
				
						<div id="contact">
						<p id="googlemapContact">
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d164.08207508533565!2d2.327525459806443!3d48.85223770457691!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671d123c6a3d7%3A0xb1c2a7cff9d2f968!2s21A+Rue+du+Cherche-Midi%2C+75006+Paris!5e0!3m2!1sfr!2sfr!4v1424020007081" width="300" height="225" frameborder="0" style="border:0"></iframe>
							</p>
							<div id="adressContact">
								<table>
									<tr>
										<th>Adresse</th>
										<td>21A, rue du Cherche-Midi, 75006 Paris</td>
									</tr>
									<tr>
										<th>Tel.</th>
										<td>00 (33) 1 45 48 93 48</td>
									</tr>
									<tr>
										<th>Emails</th>
										<td>
											<ul>
												<li>fondation@fondationpierrelafue.org</li>
												<li>foyer@fondationpierrelafue.org</li>
											</ul>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="donsModal" tabindex="-1" role="dialog" aria-labelledby="donsModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h2 class="modal-title" id="donsModalLabel">Dons à la fondation</h2>
				</div>
					<div class="modal-body">

 						<p>La Fondation Pierre Lafue est reconnue d’utilité publique et se trouve habilitée à recevoir des dons de particuliers comme des entreprises qui ouvrent droit à des réductions d’impôts. Tous les dons, quels que soient leurs montants, contribueront à pérenniser le travail de Pierre et de Yolande LAFUE.</p>
 
						<p>Nous rappelons les dispositions fiscales sur la déductibilité des dons accordés aux particuliers et aux entreprises.</p>
 
						<p><b>Pour les particuliers</b>, votre don est déductible :
							<ul>
								<li>soit de l’impôt sur le revenu à hauteur de 66 % de son montant (dans la limite de 20 % du revenu imposable)</li>
								<li>soit de l’impôt sur la fortune à hauteur de 75 % de son montant (dans la limite de 50.000 €)</li>
							</ul>
						</p>
 
						<p><b>Pour les entreprises</b>, votre don est déductible de l’impôt sur les sociétés à hauteur de 60 % de son montant (dans la limite de 0,5 % du chiffre d’affaires).</p>
 
						<p>En offrant un don à la fondation LAFUE pour la rénovation du foyer d’étudiantes, c’est faire le pari de l’avenir en favorisant l’accès à l’éducation et marquer ainsi son empreinte à une aventure humaine visible.</p>
						
					</div>
					<div class="modal-footer">
						<p>Pour participer, il vous suffit de télécharger et de renvoyer à la Fondation Pierre Lafue le formulaire de Don ou de contacter la Fondation Pierre LAFUE en vue de la mise en place d’un projet personnalisé de partenariat.</p>

						<ul>
							<li>Contact : fondation@fondationpierrelafue.org  </li>
							<li><a href="/docs/bon de soutien.pdf">Le formulaire de don ( bon de soutien)</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>