
<script type="text/javascript" src="/js/script_foyer.js"></script>

<nav class="col-sm-2 menu" id="breadcrumbs">
	<div id="navTitle">
		<img src="images/yolande_portrait.png" id="yolande_portrait" class="portrait">
		<h1>Foyer d'étudiantes Yolande Lafue</h1>
	</div>
	<ul class="style-type-none">
		<li class="selected"><div class="bullet"></div><a href="javascript:void(0)" data-target="presentationFoyer">Présentation du foyer</a></li>
		<li><div class="bullet"></div><a href="javascript:void(0)" data-target="gallerie">Le foyer en images</a></li>
		<li><div class="bullet"></div><a href="javascript:void(0)" data-target="informations">Informations pratiques</a></li>
		<li><div class="bullet"></div><a href="javascript:void(0)" data-target="temoignages">Témoignages</a></li>
	</ul>
</nav>

<div class="container-fluid" id="foyeryolandelafue">

	<div class="row page-section" id="presentationFoyer">
		<div class="col-sm-8 col-sm-offset-3">
			<div>
				<table>
					<tr>
						<td>
							<img src="/images/foyer_croquis.png" id="croquisImg" />
						</td>
						<td>
							<div id="description">
								<h1>Présentation</h1>
								<br/>
								<p>Le Foyer Yolande LAFUE fait partie intégrante de la Fondation Pierre LAFUE</p>
								<p>Le Foyer héberge des jeunes filles au coeur du 6ème arrondissement de Paris. Sa mission: offrir un cadre accueillant 
									et propice à la réalisation d'études supérieures.</p>
									<p>Venant principalement de province, ces très jeunes étudiantes profitent d'un hébergement situé à proximité des universités et des écoles les plus réputées.</p>
									<p>Elles peuvent ainsi se concentrer sur leurs études, réduire les difficultés de transports, s'intégrer dans une organisation conviviale.</p>
									<br/>
									<p>Le Foyer Yolande LAFUE, ouvert depuis de nombreuses décennies, est réservé aux jeunes filles. Il a encouragé des générations à s'intégrer dans les meilleures filières universitaires. Il a pu susciter des talents et soutenu des vocations.</p>
									<p>Cette mission fait partie intégrante de celles de la Fondation Pierre LAFUE reconnue d'utilité publique.</p>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="row page-section" id="gallerie">
			<div class="col-sm-8 col-sm-offset-3">
				<h1>Le foyer en images</h1>
				<div id="foyerVideo">
					<iframe src="https://player.vimeo.com/video/121657682" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/121657682">Fondation Lafue</a> from <a href="https://vimeo.com/user17998059">L&eacute;onie Deltombe</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
				</div>
				<div id="foyerGallery">
					<a href="/images/foyer/foyer-1.jpg" data-lightbox="foyergallery">
						<img src="/images/foyer/foyer-thumbs-1.jpg">
					</a>
					<a href="/images/foyer/foyer-2.jpg" data-lightbox="foyergallery">
						<img src="/images/foyer/foyer-thumbs-2.jpg">
					</a>
					<a href="/images/foyer/foyer-3.jpg" data-lightbox="foyergallery">
						<img src="/images/foyer/foyer-thumbs-3.jpg">
					</a>
					<a href="/images/foyer/foyer-4.jpg" data-lightbox="foyergallery">
						<img src="/images/foyer/foyer-thumbs-4.jpg">
					</a>
					<a href="/images/foyer/foyer-5.jpg" data-lightbox="foyergallery">
						<img src="/images/foyer/foyer-thumbs-5.jpg">
					</a>
					<a href="/images/foyer/foyer-6.jpg" data-lightbox="foyergallery">
						<img src="/images/foyer/foyer-thumbs-6.jpg">
					</a>
					<a href="/images/foyer/foyer-7.jpg" data-lightbox="foyergallery">
						<img src="/images/foyer/foyer-thumbs-7.jpg">
					</a>
					<a href="/images/foyer/foyer-8.jpg" data-lightbox="foyergallery">
						<img src="/images/foyer/foyer-thumbs-8.jpg">
					</a>
					<a href="/images/foyer/foyer-9.jpg" data-lightbox="foyergallery">
						<img src="/images/foyer/foyer-thumbs-9.jpg">
					</a>
				</div>
			</div>
		</div>
		<div class="row page-section" id="informations">
			<div class="col-sm-8 col-sm-offset-3">
				<h1>Informations pratiques</h1>
				<div>

					<div id="googlemapContact" >
						<iframe src="https://maps.google.fr/maps?f=q&source=s_q&hl=fr&geocode=&q=21+Rue+du+Cherche-Midi,+Paris&sll=46.75984,1.738281&sspn=12.209863,24.719238&ie=UTF8&hq=&hnear=21+Rue+du+Cherche-Midi,+75006+Paris,+Ile-de-France&ll=48.850823,2.328415&spn=0.016944,0.025749&z=14&iwloc=A&output=embed" width="350" height="250" frameborder="0" style="border:0"></iframe>
					</div>
					<div id="informations_description">
						<p>Le foyer d'étudiantes est situé au 21 de la rue du Cherche-midi dans le 6ème arrondissement dans un environnement calme et studieux en retrait des grands axes bruyants de la capitale.
							Entouré de grandes écoles comme l'Université de Paris V et VI, du collège Stanislas, du lycée Henry IV, du lycée Louis le Grand etc...</p>

						<p>Dans le quartier latin très proche de Saint Germain des Prés. A quelques minutes du  Jardin du Luxembourg et la Tour Montparnasse et bien d'autres monuments historiques. Desservi par 3 lignes de Métro (les lignes 10, 12 , 4) et par 12 lignes de bus ( n° 63, 70, 84, 89, 87, 83, 39, 94, 96, 95, 68 et le 48).</p>

						<p>Par sa situation géographique, le foyer est donc relié aux principales gares de la capitale ( Montparnasse, Saint Lazare, gare du Nord, gare de l'Est...)</p>
					</div>

					<h2>Inscription</h2>

					<p>Le foyer accepte en priorité les étudiantes inscrites dans les classes préparatoires aux Grandes Écoles, ou effectuant des études universitaires, ou similaires. Exceptionnellement des lycéennes. Il propose un hébergement sur 5 étages de la chambre au studio (selon disponibilité) en demi-pension avec repas du soir du lundi au vendredi, avec accès sécurisé par un badge d'accès personnel.</p>

					<p>Une pré-inscription est obligatoire : le bureau du foyer est ouvert pour la pré-inscription du lundi au vendredi de 11h00 à 12h30 et de 13h30 à 16h30 , il sera alors convenu d'un rendez-vous obligatoire avec l'étudiante.(voir les documents à fournir Pièces à fournir pour pré-inscription). Nous contacter au 00 (33) 1 45 48 93 48.</p>

					<p>Toute étudiante mineure au moment de l'inscription devra faire compléter et signer l'autorisation parentale de décharge de responsabilité.</p>
					
					
					<div class="row" style="padding-top: 0; padding-bottom: 0;">
						<div class="col-sm-12">	
							<h2>Tarifs</h2>
							<p>Consulter le règlement intérieur pour de plus amples renseignements :règlement, horaires, tarifs, wifi..</p>
						</div>
						<div class="col-sm-5">	
							<p>La demi-pension comprend:</p>
							<ul>
								<li>la chambre</li>
								<li>le dîner du lundi au vendredi (hors jours fériés)</li>
								<li>le petit déjeuner est fait par les jeunes filles (chaque chambre est équipée d'un réfrigérateur)</li>
								<li>la restauration n'est pas assurée pendant les week-ends, les vacances scolaires et les jours fériés</li>
								<li>le foyer est fermé 1 semaine pendant les vacances de Noël et de printemps</li>
								<li>accès wi-fi pour un seul terminal</li>
							</ul>
						</div>
						<div class="col-sm-7">
							<p>Tarifs de l'année scolaire 2015/2016 - dont 150€ de repas (par mois et par pensionnaire)</p>
							<ul>
								<li>petite chambre simple : 660 € par personne</li>
								<li>chambre simple intermédiaire : 690 € par personne</li>
								<li>grande chambre simple intermédiaire : 695 € par personne</li>
								<li>chambre double : 650 € par personne</li>
								<li>chambre double intermédiaire : 680 € par personne</li>
								<li>grande chambre double intermédiaire : 690 € par personne</li>
								<li>très grande chambre double : 725 € par personne</li>
								<li>studio seul : 750 € par personne</li>
								<li>studio en double : 735 € par personne</li>
								<li>appartement en double : 895 € par personne</li> 
							</ul>
						</div>
					</div>

					<h2>Documents</h2>

					<ul id="documents" class="style-type-none">
						<li><a href="/docs/Preinscription-2014-2015.pdf">Dossier de préinscription</a></li>
						<li><a href="/docs/A-P-MINEURE-2012-2013.pdf">Autorisation parentale (pour étudiante mineure)</a></li>
						<li><a href="/docs/RI-2015-2016.pdf">Règlement du foyer</a></li>
					</ul>
				</div>
			</div>
		</div>
					<div class="row page-section" id="temoignages">
						<div class="col-sm-8 col-sm-offset-3">
							<h1>Témoignages</h1>
							<table class="temoignage" id="temoignage_1">
								<tr>
									<td>
										<div class="portrait">
											<img src="/images/portrait5.png">
											<span>Cécile C.</span>
										</div>
									</td>
									<td class="temoignage_citation">
										<p>"Non seulement sa localisation dans Paris est une chance, dans un quartier dynamique et en même temps au calme, mais il a aussi le mérite d'être un petit établissement
											ou chacune se connait, où le personnel est là pour nous. De plus, votre foyer ouvre ses portes à tous types de profils, ce que je trouve important pour nos rencontres,
											nos fréquentations et donc notre épanouissement personnel."
										</p>
									</td>
								</tr>
							</table>
							<table class="temoignage" id="temoignage_2">
								<tr>
									<td>
										<div class="portrait">
											<img src="/images/portrait4.png">
											<span>Catherine L.</span>
										</div>
									</td>
									<td class="temoignage_citation">
										<p>"Pour commencer je voudrai remercier Monsieur D. pour son sourire toute l'année. J'ai beaucoup apprécier le repas de Noël ainsi que celui de Pâques et tous les autres..."
										</p>
									</td>
								</tr>
							</table>
							<table class="temoignage" id="temoignage_3">
								<tr>
									<td>
										<div class="portrait">
											<img src="/images/portrait1.png">
											<span>Annie L.</span>
										</div>
									</td>
									<td class="temoignage_citation">
										<p>"Je vous remercie pour vos conseils, notamment concernant mon orientation et votre gentillesse."
										</p>
									</td>
								</tr>
							</table>
							<table class="temoignage" id="temoignage_4">
								<tr>
									<td>
										<div class="portrait">
											<img src="/images/portrait2.png">
											<span>Sophie E.</span>
										</div>
									</td>
									<td class="temoignage_citation">
										<p>"La tranquilité ambiante m'a permis de bien travailler, me reposer et de réussir mon année."
										</p>
									</td>
								</tr>
							</table>
							<table class="temoignage" id="temoignage_5">
								<tr>
									<td>
										<div class="portrait">
											<img src="/images/portrait3.png">
											<span>Fanny T.</span>
										</div>
									</td>
									<td class="temoignage_citation">
										<p>"Je suis très heureuse de pouvoir revenir l'année prochaine."</p>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
