
<nav class="navbar navbar-default navbar-static-top">
  		<div class="container">
    		<ul class="nav navbar-nav navbar-right">
	        	<li><a href="/">Fondation Pierre Lafue<span class="sr-only">(current)</span></a></li>
	        	<li class="active"><a href="/foyeryolandelafue">Foyer Yolande Lafue</a></li>
	        	<li><a href="/donations">Donations</a></li>
	        	<li><a href="/contacts">Contacts</a></li>
	      	</ul>
	  	</div>
	</nav>

<div class="container-fluid" id="foyeryolandelafue">

	<nav id="breadcrumb">
		<ul>
			<li class="selected"><div class="bullet"></div><a href="#historique">Présentation du foyer</a></li>
			<li><div class="bullet"></div><a href="#prix">Témoignages</a></li>
			<li><div class="bullet"></div><a href="#biographie">Yolande d'Argence Lafue</a></li>
			<li><div class="bullet"></div><a href="#contact">Informations</a></li>
		</ul>
	</nav>

	<div class="row" id="presentationFoyer">
		<div class="col-sm-8 col-sm-offset-2">

			<div id="pageTitle">
				<img src="images/yolande_portrait.png" id="yolande_portrait" class="portrait">
				<h1>Foyer d'étudiantes Yolande Lafue</h1>
			</div>

			<div>
				<table>
					<tr>
						<td>
							<img src="/images/foyer_croquis.png" id="croquisImg" />
						</td>
						<td>
							<div id="description">
								<h1>Présentation</h1>
								<br/>
								<p>Le Foyer Yolande LAFUE fait partie intégrante de la Fondation Pierre LAFUE</p>
								<p>Le Foyer héberge des jeunes filles au coeur du 6ème arrondissement de Paris. Sa mission: offrir un cadre accueillant 
									et propice à la réalisation d'études supérieures.</p>
									<p>Venant principalement de province, ces très jeunes étudiantes profitent d'un hébergement situé à proximité des universités et des écoles les plus réputées.</p>
									<p>Elles peuvent ainsi se concentrer sur leurs études, réduire les difficultés de transports, s'intégrer dans une organisation conviviale.</p>
									<br/>
									<p>Le Foyer Yolande LAFUE, ouvert depuis de nombreuses décennies, est réservé aux jeunes filles. Il a encouragé des générations à s'intégrer dans les meilleures filières universitaires. Il a pu susciter des talents et soutenu des vocations.</p>
									<p>Cette mission fait partie intégrante de celles de la Fondation Pierre LAFUE reconnue d'utilité publique.</p>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="row" id="temoignages">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Témoignages</h1>
				<table class="temoignage" id="temoignage_1">
					<tr>
						<td>
							<div class="portrait">
								<img src="/images/portrait5.png">
								<span>Cécile C.</span>
							</div>
						</td>
						<td class="temoignage_citation">
							<p>"Non seulement sa localisation dans Paris est une chance, dans un quartier dynamique et en même temps au calme, mais il a aussi le mérite d'être un petit établissement
								ou chacune se connait, où le personnel est là pour nous. De plus, votre foyer ouvre ses portes à tous types de profils, ce que je trouve important pour nos rencontres,
								nos fréquentations et donc notre épanouissement personnel."
							</p>
						</td>
					</tr>
				</table>
				<table class="temoignage" id="temoignage_2">
					<tr>
						<td>
							<div class="portrait">
								<img src="/images/portrait4.png">
								<span>Catherine L.</span>
							</div>
						</td>
						<td class="temoignage_citation">
							<p>"Pour commencer je voudrai remercier Monsieur D. pour son sourire toute l'année. J'ai beaucoup apprécier le repas de Noël ainsi que celui de Pâques et tous les autres..."
							</p>
						</td>
					</tr>
				</table>
				<table class="temoignage" id="temoignage_3">
					<tr>
						<td>
							<div class="portrait">
								<img src="/images/portrait1.png">
								<span>Annie L.</span>
							</div>
						</td>
						<td class="temoignage_citation">
							<p>"Je vous remercie pour vos conseils, notamment concernant mon orientation et votre gentillesse."
							</p>
						</td>
					</tr>
				</table>
				<table class="temoignage" id="temoignage_4">
					<tr>
						<td>
							<div class="portrait">
								<img src="/images/portrait2.png">
								<span>Sophie E.</span>
							</div>
						</td>
						<td class="temoignage_citation">
							<p>"La tranquilité ambiante m'a permis de bien travailler, me reposer et de réussir mon année."
							</p>
						</td>
					</tr>
				</table>
				<table class="temoignage" id="temoignage_5">
					<tr>
						<td>
							<div class="portrait">
								<img src="/images/portrait3.png">
								<span>Fanny T.</span>
							</div>
						</td>
						<td class="temoignage_citation">
							<p>"Je suis très heureuse de pouvoir revenir l'année prochaine."</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row" id="biographie">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Yolande d'Argence Lafue</h1>

				<div>
					<img src="/images/yolande_1.jpg" id="yolande_1">
					<p>
					Née le 3 mars 1918 au Consulat de France à Milan, Yolanda d'Argence appartient, par son père, diplomate, à la famille française des marquis d'Argence, par sa mère, à la famille italienne des comtes di Carlo.

Toute jeune, elle perd son père, puis sa mère, et se retrouve seule avec sa sœur Paola et son frère Rodolphe.

A la veille de la deuxième guerre mondiale, son désir d'être française lui fait abandonner l'Italie et les siens pour venir à Paris. Elle est accueillie dans la famille d'un prêtre du diocèse de Paris, l'abbé Albert Malmanche. Ce dernier restera son confident et son ami jusqu'à son décès en 1990.</p>

<p>La guerre terminée, elle entre à la Faculté de droit à Paris, mais bientôt attirée par l'enseignement ménager, elle suit le cours normal de la ville de Paris. Elle sort première du concours de professorat.

Elle se spécialise dans la formation de jeunes en difficulté et inaugure de nouvelles méthodes d'enseignement. Les Palmes académiques viennent couronner ses efforts et consacrer son succès.

A partir de 1963, elle reprend bénévolement la direction du Foyer des Étudiantes du Cherche-Midi, foyer où elle avait elle-même résidé lorsqu'elle était étudiante.</p>
<br />
<img src="/images/yolande_4.jpg" id="yolande_2">
<p>Durant cette période elle rencontre l'écrivain-historien Pierre Lafue qu'elle épouse en 1964. Tous deux voyagent beaucoup et reçoivent dans un petit salon littéraire de nombreuses personnalités de l'époque, des amis de Pierre, tels qu'Henri Clouard, Henri Massis, Georges Day, Francis Ambrière, André Lang, Paul Gordeau, Jean Marin, Louis Joxe, Adrien Dansette, Jean Fourastié et bien d'autres.

La mort accidentelle de Pierre Lafue le 8 août 1975 vient mettre un terme brutal à ces années de bonheur.</p>

<br/>
<img src="/images/yolande_5.jpg" id="yolande_3">
<p>En 1976, Yolande d'ARGENCE LAFUE décide de créer une Fondation pour perpétuer le nom et l'œuvre de son mari. Elle en devient donc la Présidente fondatrice. A partir de 1977, la Fondation Pierre Lafue va donc décerner chaque année un prix littéraire et des bourses à des étudiants.

Yolanda d'Argence Lafue a écrit ses mémoires jusqu'à cette époque dans un livre émouvant intitulé " La Maledetta ", disponible auprès de la Fondation.

En 1994, Pierre Messmer, ancien Premier ministre devient vice-président de la Fondation, place qu'il occupera jusqu'à sa disparition en 2007. La Fondatrice confiera alors cette responsabilité à un prêtre du diocèse de Paris, l'abbé Pascal Thuillier, alors chapelain au Sacré-Cœur.</p>

<p>Le 19 février 2011, après plusieurs mois d'hospitalisation, Yolande d'Argence Lafue s'éteint entourée de sa proche famille. Ses obsèques sont célébrées le 23 février à l'église Saint Sulpice à Paris par Mgr Francesco Follo, observateur permanent du Saint Siège auprès de l'UNESCO, lui-même lauréat du prix de la Fondation en 2007. Elle repose auprès de Pierre au cimetière du Montparnasse.</p>
				</div>
			</div>
		</div>
		<div class="row" id="gallerie">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Le foyer en images</h1>
			</div>
		</div>
		<div class="row" id="informations">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Informations</h1>
				<div>

					<div id="googlemapContact" >
						<iframe src="http://maps.google.fr/maps?f=q&source=s_q&hl=fr&geocode=&q=21+Rue+du+Cherche-Midi,+Paris&sll=46.75984,1.738281&sspn=12.209863,24.719238&ie=UTF8&hq=&hnear=21+Rue+du+Cherche-Midi,+75006+Paris,+Ile-de-France&ll=48.850823,2.328415&spn=0.016944,0.025749&z=14&iwloc=A&output=embed" width="350" height="250" frameborder="0" style="border:0"></iframe>
					</div>
					<div id="informations_description">
						 <p>Le foyer d'étudiantes est situé au 21 de la rue du Cherche-midi dans le 6ème arrondissement dans un environnement calme et studieux en retrait des grands axes bruyants de la capitale.
						Entouré de grandes écoles comme l'Université de Paris V et VI, du collège Stanislas, du lycée Henry IV, du lycée Louis le Grand etc...</p>

						<p>Dans le quartier latin très proche de Saint Germain des Prés. A quelques minutes du  Jardin du Luxembourg et la Tour Montparnasse et bien d'autres monuments historiques.
						Desservi par 3 lignes de Métro (les lignes 10, 12 , 4) et par 12 lignes de bus ( n° 63, 70, 84, 89, 87, 83, 39, 94, 96, 95, 68 et le 48).</p>

						<p>Par sa situation géographique, le foyer est donc relié aux principales gares de la capitale ( Montparnasse, Saint Lazare, gare du Nord, gare de l'Est...)</p>
					</div>

					<h2>Inscription</h2>

					<p>Le foyer accepte en priorité les étudiantes inscrites dans les classes préparatoires aux Grandes Écoles, ou effectuant des études universitaires, ou similaires. Exceptionnellement des lycéennes. Il propose un hébergement sur 5 étages de la chambre au studio (selon disponibilité) en demi-pension avec repas du soir du lundi au vendredi, avec accès sécurisé par un badge d'accès personnel.</p>

					<p>Une pré-inscription est obligatoire : le bureau du foyer est ouvert pour la pré-inscription du lundi au vendredi de 11h00 à 12h30 et de 13h30 à 16h30 , il sera alors convenu d'un rendez-vous obligatoire avec l'étudiante.(voir les documents à fournir Pièces à fournir pour pré-inscription). Nous contacter au 00 (33) 1 45 48 93 48.</p>

					<p>Toute étudiante mineure au moment de l'inscription devra faire compléter et signer l'autorisation parentale de décharge de responsabilité Décharge de responsabilité pour mineure 
					Consulter le règlement intérieur 2015-2016  Règlement intérieur du foyer Yolande LAFUE pour de plus amples renseignements: règlement, horaires, tarifs, wifi...</p>

					<h2>Documents</h2>

					<ul id="documents">
						<li><a href="/docs/Preinscription-2014-2015.pdf">Dossier de préinscription</a></li>
						<li><a href="/docs/A-P-MINEURE-2012-2013.pdf">Autorisation parentale (pour étudiante mineure)</a></li>
						<li><a href="/docs/RI-2015-2016.pdf">Règlement du foyer</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
