<script type="text/javascript" src="/js/script_presentation.js"></script>

<div class="container-fluid">

	<div class="row" id="presentation_couple">

		<div class="fondation col-sm-3 col-sm-offset-1">
			<h2 class="color-third">La Fondation Pierre Lafue</h2>
			<p>La Fondation Pierre LAFUE a été créee en 1976. elle a pour objet de soutenir des activités historiques
				et littéraires dans l'esprit de l'oeuvre de Pierre Lafue. Elle décerne chaque année un prix qui récompense
				soit un ouvrage de langue française d'inspiration historique, soit l'ensemble d'une oeuvre.</p>
				<p>La fondation a été reconnue d'utilité publique par décret en conseil d'Etat le 15 novembre 1979,
					elle est habilité à recevoir des dons et des legs.</p>
				</div>
				<div  class="col-sm-4"><img src="images/pierre_yolande.jpg" /></div>
				<div class="foyer col-sm-3">
					<h2 class="color-third">Le Foyer Yolande Lafue</h2>
					<p>La Fondation gère aussi un foyer qui permet à une quarantaine d'étudiantes, préparant des
						concours de grandes écoles ou suivant des études en faculté, de se loger.</p>
						<p>Cette structure a été mise en place en 1976 par Yolande d'Argence Lafue afin notamment
							de soutenir des activités dans l'esprit de l'oeuvre de son défunt mari, historien, journaliste
							, essayiste et romancier.</p>
						</div>
					</div>

					<div class="row" id="pierre_lafue_biographie">
						<div class="col-sm-10 col-sm-offset-1" >
							<h1>Pierre Lafue</h1>
							<h3>
								Écrivain, historien, journaliste, Germaniste.<br/>
								Chevalier de la Légion d'Honneur.
							</h3>

							<img src="images/Pierre_LAFUE300.jpg">

							<p>Pierre LAFUE est né le 18 septembre 1902 à Pont-de-Monvert.
								Il est marié depuis le 25 janvier 1964 à Yolande D'ARGENCE.

								Licencié ès lettres D.E.S. d'allemand. Professeur de l'enseignement secondaire à Étampes de 1932 à 1933 et au lycée Jean-Baptiste SAY à Paris de 1933 à 1939.</p>

								<p>Pierre Lafue devient journaliste correspondant de journaux en France et en Pologne de 1933 à 1935.

									A cette date, il devient membre du cabinet de Georges MANDEL jusqu'en 1940.

									Depuis 1955, Pierre LAFUE est directeur de collections historiques chez divers éditeurs.</p>

									<p>Il a été également critique littéraire à la « Revue Hebdomadaire » et à la « Revue Universelle » de 1922 à 1940 chez Plon.

										Pierre LAFUE a obtenu en 1965 le Grand Prix de la Société des Gens de Lettres, il a été lauréat de l'Académie française en 1967.</p>

										<p>Membre adhérent de la société des Auteurs et Compositeurs Dramatiques. Il est un habitué du salon de Daniel HALEVY.

											Il tient un salon littéraire à Paris de 1960 à sa mort.</p>

											<p>Pierre LAFUE est décédé d'un accident de voiture le 8 Août 1975. </p>

											<button type="button" id="biblioBtn" class="btn" data-toggle="modal" data-target="#biblioModal">Bibliographie</button>
										</div>
									</div>
									<div class="row" id="yolande_lafue_biographie">

										<div class="col-sm-10 col-sm-offset-1" >

											<h1>Yolande d'Argence Lafue</h1>

											<div>
												<img src="/images/yolande_1.jpg" id="yolande_1">
												<p>
													Née le 3 mars 1918 au Consulat de France à Milan, Yolanda d'Argence appartient, par son père, diplomate, à la famille française des marquis d'Argence, par sa mère, à la famille italienne des comtes di Carlo.

													Toute jeune, elle perd son père, puis sa mère, et se retrouve seule avec sa sœur Paola et son frère Rodolphe.

													A la veille de la deuxième guerre mondiale, son désir d'être française lui fait abandonner l'Italie et les siens pour venir à Paris. Elle est accueillie dans la famille d'un prêtre du diocèse de Paris, l'abbé Albert Malmanche. Ce dernier restera son confident et son ami jusqu'à son décès en 1990.</p>

													<p>La guerre terminée, elle entre à la Faculté de droit à Paris, mais bientôt attirée par l'enseignement ménager, elle suit le cours normal de la ville de Paris. Elle sort première du concours de professorat.

														Elle se spécialise dans la formation de jeunes en difficulté et inaugure de nouvelles méthodes d'enseignement. Les Palmes académiques viennent couronner ses efforts et consacrer son succès.

														A partir de 1963, elle reprend bénévolement la direction du Foyer des Étudiantes du Cherche-Midi, foyer où elle avait elle-même résidé lorsqu'elle était étudiante.</p>
														<br />
														<img src="/images/yolande_4.jpg" id="yolande_2">
														<p>Durant cette période elle rencontre l'écrivain-historien Pierre Lafue qu'elle épouse en 1964. Tous deux voyagent beaucoup et reçoivent dans un petit salon littéraire de nombreuses personnalités de l'époque, des amis de Pierre, tels qu'Henri Clouard, Henri Massis, Georges Day, Francis Ambrière, André Lang, Paul Gordeau, Jean Marin, Louis Joxe, Adrien Dansette, Jean Fourastié et bien d'autres.

															La mort accidentelle de Pierre Lafue le 8 août 1975 vient mettre un terme brutal à ces années de bonheur.</p>

															<br/>
															<p>En 1976, Yolande d'ARGENCE LAFUE décide de créer une Fondation pour perpétuer le nom et l'œuvre de son mari. Elle en devient donc la Présidente fondatrice. A partir de 1977, la Fondation Pierre Lafue va donc décerner chaque année un prix littéraire et des bourses à des étudiants.

																Yolanda d'Argence Lafue a écrit ses mémoires jusqu'à cette époque dans un livre émouvant intitulé " La Maledetta ", disponible auprès de la Fondation.

																En 1994, Pierre Messmer, ancien Premier ministre devient vice-président de la Fondation, place qu'il occupera jusqu'à sa disparition en 2007. La Fondatrice confiera alors cette responsabilité à un prêtre du diocèse de Paris, l'abbé Pascal Thuillier, alors chapelain au Sacré-Cœur.</p>

																<p>Le 19 février 2011, après plusieurs mois d'hospitalisation, Yolande d'Argence Lafue s'éteint entourée de sa proche famille. Ses obsèques sont célébrées le 23 février à l'église Saint Sulpice à Paris par Mgr Francesco Follo, observateur permanent du Saint Siège auprès de l'UNESCO, lui-même lauréat du prix de la Fondation en 2007. Elle repose auprès de Pierre au cimetière du Montparnasse.</p>
															</div>
														</div>
													</div>
												</div>

<div class="modal fade" id="biblioModal" tabindex="-1" role="dialog" aria-labelledby="biblioModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h2 class="modal-title" id="biblioModalLabel">Bibliographie de Pierre Lafue</h2>
</div>
<div class="modal-body">

<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active">
<a href="#ouvrageshistoire" aria-controls="ouvrageshistoire" role="tab" data-toggle="tab">Ouvrages d'Histoire</a></li>
<li role="presentation">
<a href="#Romans" aria-controls="Romans" role="tab" data-toggle="tab">Romans</a></li>
<li role="presentation">
<a href="#Essais" aria-controls="Essais" role="tab" data-toggle="tab">Essais</a></li>
<li role="presentation">
	<a href="#theatre" aria-controls="theatre" role="tab" data-toggle="tab">Théâtre radiophonique</a></li>
	<li role="presentation">
		<a href="#other" aria-controls="other" role="tab" data-toggle="tab">Autres oeuvres</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="ouvrageshistoire">
			<ul>
				<li>Frédéric II, Hachette, 1932</li>
				<li>Louis XVI, Hachette, 1941</li>
				<li>L'assassinat du duc de Guise, Éditions Colbert, 1942</li>
				<li>Desmaret, policier de l'Empereur, Éditions Colbert, 1943</li>
				<li>Louis XVIII, Les Éditions de France, 1944</li>
				<li>Le Père Joseph, Hachette, 1946</li>
				<li>Sainte Thérèse d'Avila, Les Éditions de la Nouvelle France, 1946</li>
				<li>Henri III et son secret, Hachette 1949</li>
				<li>Histoire de l'Allemagne, Flammarion, 1950</li>
				<li>Marie-Thérèse, Impératrice et Reine, Flammarion 1957</li>
				<li>Louis XV, Hachette, 1952</li>
				<li>Histoire du Peuple Français, Nouvelle Librairie de France, 1952</li>
				<li>Rohan contre le Roi, Le Livre contemporain, 1959</li>
				<li>La Tragédie de Marie-Antoinette, Éditions Mondiales, 1965</li>
				<li>Et une vingtaine d'autres ouvrages.</li>
			</ul>
		</div>

		<div role="tabpanel" class="tab-pane" id="Romans">
			<ul>
				<li>La voleuse, Les Éditions de France, 1938</li>
				<li>La Plongée, Gallimard 1941</li>
				<li>L'Arbre qui avait pris feu, Gallimard 1943</li>
				<li>Patrice ou l'été du siècle, Gallimard 4 volumes, 1954</li>
				<li>Le Village aux trois ponts, Société des Lettres, Sciences et Arts de la Lozère</li>
			</ul>
		</div>

		<div role="tabpanel" class="tab-pane" id="Essais">
			<ul>
				<li>La vie quotidienne des cours allemandes au XVIIIe siècle, Hachette, 1963</li>
				<li>La France perdue et retrouvée, Plon</li>
				<li>Lénine ou le mouvement, Éditions Prométhée, 1930</li>
				<li>Le Prêtre ancien et les commencements du nouveau prêtre, Plon 1967</li>
			</ul>
		</div>

		<div role="tabpanel" class="tab-pane" id="theatre">
			<ul>
				<li>Philippe II ou la tyrannie de Dieu</li>
				<li>harles Quint ou la puissance impossible</li>
				<li>Marie Stuart change de maître,1961</li>
			</ul>
		</div>

		<div role="tabpanel" class="tab-pane" id="other">

			<h4>Autobiographie, journal</h4>
			<ul>
				<li>Pris sur le vif, Les Éditions Mondiales, 1979</li>
			</ul>

				<h4>Œuvre à paraître</h4>
				<ul>
					<li>
						Journal d'un Homme et d'une époque</li>
					</ul>
					<h4>En projet</h4>
					<ul>
						<li>
							Histoire de la jeunesse
						</li>
					</ul>
					<h4>Traductions des œuvres de Pierre Lafue</h4>
					<ul>
						<li>
							En Italien, en Espagnol et en Allemand.</li>
						</ul>

					</div>
				</div>


			</div>
		</div>
	</div>
</div>