

section {
	padding-bottom: 80px;

	h2 {
		padding-bottom: 20px;
	}

	&#pierreLafueIntro {
		padding-top: 150px;

		p {
			font-style: italic;
			font-size: @font-size-h3;
			font-weight: 300;
			text-align: center;
		}
	}

	&#historique {
		padding-top: 20px;
		background-color: @marron;
		color: #F8F8F8;
		//border-top: 1px solid darken(@bgColor, 5%);

		h1 {
			color: #F8F8F8;
			margin-bottom: 40px;
		}

		img {
			float: right;
			padding-top: 50px;
			padding-left: 30px;
			width: 330px;
		}
	}

	&#prix {
		padding-top: 20px;
		
		img {
			height: 300px;
			margin: 30px;
		}

		#prixGalery {
			margin-top: 20px;
			text-align: center;
		}

		#antPrixBtn {
			color: #F8F8F8;
  			background-color: @marron;
  			border-color: #F8F8F8;
		}
	}

	&#prixanterieurs {
		.tab-content {
			margin-top: 20px;

			.prixGallerie img {
				height: 250px; 
				padding-right: 20px; 
				margin-bottom:20px;
			}
		}
	}

	&#jury {
		padding-top: 20px;
		background-color: @marron;
		color: #F8F8F8;

		h1 {
			color: #F8F8F8;
			margin-bottom: 40px;
		}
	}

	&#manifestations {
		padding-top: 20px;
	}
}